*{
    margin: 0;
    padding: 0;
    box-sizing:0;
}


body {
    background-image: url("../img/fondo\ colores\ 300.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    background-attachment: fixed ;
    overflow-x: hidden;
}